*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background: linear-gradient(90deg, rgba(155, 104, 42, 1) 0%, rgba(230, 143, 37, 1) 50%, rgba(255, 150, 89, 1) 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h2,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}