*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-image: url(/images/background.jpg);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

h1,
h2,
h2,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}