*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(/images/background.jpg);
  font-family: "Inter", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}


img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}