.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;

  &Logo {
    display: flex;
  }
  &BtnWrap {
    display: flex;
    max-width: 150px;
    width: 100%;
  }
  &Btn {
    min-height: 50px;
    max-width: 150px;
    gap: 13px;
  }
  &BtnText {
    align-items: center;
    gap: 8px;
  }
}
