@use "../../theme/theme.scss";
.header {
  padding: 40px 0;
  border-bottom: 1px solid theme.$gray;
  &Content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Logo {
    display: flex;
  }
  &BtnWrap {
    display: flex;
    max-width: 150px;
    width: 100%;
  }
  &Btn {
    min-height: 50px;
    max-width: 150px;
    gap: 13px;
  }
  &BtnText {
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    &:first-child {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: -7px;
        display: flex;
        height: 20px;
        width: 1px;
        background-color: theme.$gray;
        opacity: 0.5;
      }
    }
  }
}
