@use "../../theme/theme.scss";
.text {
  color: theme.$black;
  display: flex;
  justify-content: center;
  align-items: center;
  &--white {
    color: theme.$white;
  }
  &--light-black {
    color: theme.$light-black;
  }
  &--light-gray {
    color: theme.$light-gray;
  }
  &--orange {
    color: theme.$orange;
  }
}
