@use "../../theme/theme.scss";
.pizzaCard {
  &Image {
    margin-bottom: 11px;
  }
  &Title {
    justify-content: center;
    margin-bottom: 22px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.01em;
  }
  &BtnWrap {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 6px;
    margin-bottom: 17px;
    background-color: theme.$gray;
    border-radius: 10px;
  }
  &BtnSelectors {
    display: flex;
    gap: 6px;
  }
  &Btn {
    min-height: 32px;
    border-radius: 5px;
  }
  &BtnText {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
  }
  &PriceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Price {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
  }
  &AddBtn {
    max-width: 155px;
    min-height: 40px;
    gap: 5px;
    
  }
  &AddBtnText {
    font-weight: 700;
    font-size: 16px;
  }
  &CountWrap {
    display: flex;
    min-height: 22px;
    min-width: 22px;
    padding-top: 2px;
    justify-content: center;
    border-radius: 100%;
    background-color: theme.$orange;
  }
  &Count {
    font-weight: 700;
    font-size: 13px;
  }
}
