@use "../../theme/theme.scss";
.pizzaCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  &Image {
    margin-bottom: 11px;
    padding-left: 10px;
    transition: all 0.2s ease;
    &:hover {
      transform: translateY(5px);
    }
  }
  &Title {
    justify-content: center;
    margin-bottom: 22px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.01em;
    @media (max-width: 992px) {
      font-size: 18px;
    }
    @media (max-width: 576px) {
      font-size: 14px;
    }
    @media (max-width: 400px) {
      font-size: 18px;
    }
  }
  &BtnWrap {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 6px;
    margin-bottom: 17px;
    background-color: theme.$light-gray;
    border-radius: 10px;
    width: 100%;
  }
  &BtnSelectors {
    display: flex;
    gap: 6px;
  }
  &Btn {
    min-height: 32px;
    border-radius: 5px;
  }
  &BtnActive {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  &BtnText {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
  }
  &PriceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &Price {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.01em;
    @media (max-width: 576px) {
      font-size: 16px;
    }
    @media (max-width: 400px) {
      font-size: 20px;
    }
  }
  &AddBtn {
    max-width: 155px;
    min-height: 40px;
    gap: 5px;
    @media (max-width: 992px) {
      max-width: 130px;
      min-height: 35px;
    }
    @media (max-width: 576px) {
      max-width: 110px;
      min-height: 30px;
    }
    @media (max-width: 400px) {
      max-width: 130px;
      min-height: 35px;
    }
    &:hover &Text {
      color: theme.$white;
    }
    &:hover &TextAdaptive {
      color: theme.$white;
    }
  }
  &AddBtn:hover &CountWrap {
    background-color: theme.$white;
  }
  &AddBtn:hover &Count {
    color: theme.$orange;
  }
  &AddBtnText {
    font-weight: 700;
    font-size: 16px;
    @media (max-width: 576px) {
      display: none;
    }
  }
  &AddBtnTextAdaptive {
    display: none;
    @media (max-width: 576px) {
      display: flex;
    }
  }
  &CountWrap {
    display: flex;
    min-height: 22px;
    min-width: 22px;
    padding-top: 2px;
    justify-content: center;
    border-radius: 100%;
    background-color: theme.$orange;
    transition: all 0.3s ease;
  }
  &Count {
    font-weight: 700;
    font-size: 13px;
  }
}
