.categories {
  padding: 40px 0;
  &List {
    display: flex;
    gap: 9px;
  }
  &Btn {
    min-height: 46px;
    min-width: 82px;
    padding: 0 20px;
  }
  &BtnText {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
