.categories {
  padding-top: 40px;
  &Container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  &ListWrap {
    @media (max-width: 768px) {
      width: 100%;
      overflow-x: auto;
    }
  }
  &List {
    display: flex;
    gap: 9px;
    @media (max-width: 768px) {
      width: 669px;
      // flex-wrap: wrap;
    }
  }
  &Btn {
    min-height: 46px;
    min-width: 82px;
    padding: 0 20px;
  }
  &BtnText {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
