@use "../../theme/theme.scss";
.notFoundContent {
  padding-top: 100px;
  &Smile {
    font-size: 64px;
    margin-bottom: 10px;
  }
  &Title {
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: theme.$light-black;
  }
  &Desc {
    max-width: 800px;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    color: theme.$light-black;
  }
}
