@use "../../theme/theme.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  &--white {
    background-color: theme.$white;
  }
  &--black {
    background-color: theme.$black;
  }
  &--light-black {
    background-color: theme.$light-black;
  }
  &--snow-white {
    background-color: theme.$snow-white;
    &:hover {
      background-color: theme.$light-gray;
    }
  }
  &--orange {
    background-color: theme.$orange;
    &:hover {
      background-color: rgba($color: theme.$orange, $alpha: 0.5);
    }
  }
  &--transparent {
    background-color: transparent;
  }
  &--bordered {
    border: 1px solid theme.$black;
    &__orange {
      border-color: theme.$orange;
      &:hover {
        background-color: theme.$orange;
      }
    }
    &__gray {
      border-color: theme.$gray;
      &:hover {
        background-color: theme.$black;
      }
    }
  }
}
