@use "../../theme/theme.scss";
.basketEmptyContent {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &Title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;
  }
  &Desc {
    margin-bottom: 47px;
    max-width: 600px;
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.01em;
    color: theme.$dark-gray;
    text-align: center;
  }
  &Image {
    margin-bottom: 74px;
  }
  &Link {
    display: flex;
    max-width: 210px;
    width: 100%;
  }
  &Btn {
    max-width: 210px;
    min-height: 46px;
    &:hover {
      background-color: theme.$dark-gray;
    }
  }
  &BtnText {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}
