.pizzas {
  padding: 40px 0;
  margin-bottom: 40px;
  &Title {
    margin-bottom: 32px;
  }
  &List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    justify-content: center;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 1fr);
    } 
    @media (max-width: 576px) {
      gap: 10px;
    }
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
}
